/*-------------------------------------- general style -------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.layout-wrap {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
    min-width: 600px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.page-body {
    background: rgba(49, 49, 49, 0.79);
    min-height: 500px;
}
/*-------------------------------------- header --------------------------------------*/
header {
    background: #000;
    padding: 10px 0;
}
header .layout-wrap {
    display: flex;
    justify-content: space-between;
}
.search-box {
    /*float: right;*/
    margin: 4px 0 0 0;
}
/*-------------------------------------- nav -----------------------------------------*/
nav {
    display: flex;
}
.nav-section {
    width: 32%;
    background: #000;
    margin: 15px 2% 15px 0;
}
.nav-section:hover .action-list {
    display: block;
}
.nav-section:hover .arrow{
    border-top: 5px solid black;
    border-bottom: 0;
}
.nav-section > p {
    color: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.nav-section:last-child {
    margin: 15px 0;
}

/*-------------------------------------- drop menu -----------------------------------------*/
.menu {
    position: relative;
}
.menu-hint {
    background: #ccc;
    padding: 5px;
}
.menu-hint p {
    display: inline-block;
    margin: 0;
}
.arrow {
    float: right;
    margin:7px 5px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;

}
.action-list {
    display: none;
    position: absolute;
    z-index:9;
    width: 100%;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}
.action-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}
.action-list li:hover {
    background: #eeeeee;
}
.action-list li:last-child {
    border: 0;
}
.action-list li a {
    display: block;
}
.action-list li {}
.action-list a {
    color: #222222;
}
/*-------------------------------------- tabs -----------------------------------------*/
.tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs li {
    background: #ccc;
    width: 23.5%;
    float: left;
    margin: 0 2% 0 0;
    padding: 8px 5px;
}
.tabs li:last-child {
    margin: 0;
}
.tabs li a {
    color: #222222;
    text-decoration: none;
}
